[Desktop Entry]
Name=TVLinker
GenericName=TV link scraper + downloader
X-GNOME-FullName=TVLinker
Comment=TV link scraper and downloader
Exec=tvlinker
Terminal=false
Type=Application
Icon=tvlinker
Categories=Network;FileTransfer;Qt;KDE;
Keywords=television;downloader;internet;qt;python;pyqt5;
MimeType=application/x-tvlinker;
StartupNotify=true
