Source: tvlinker
Maintainer: Pete Alexandrou <pete@ozmartians.com>
Section: net
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://tvlinker.ozmartians.com

Package: tvlinker
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-pyqt5, python3-bs4, python3-lxml, python3-requests
Description: TV show link scraper + downloader for Scene-RLS.com with a modern PyQt5 GUI
 PyQt5 based desktop widget for scraping and downloading TV shows from Scene-RLS.com
 .
 *** Recently updated for Scene-RLS.com due to tv-release.net closing down ***
 .
 You get link scraping together with integration to the real-debrid link unrestrictor
 service via their API (NOTE: a valid real-debrid account is required for link unrestricting
 to work).
 .
 Supports a number of download managers across platforms:
 .
    Built-in (window/linux)
    Aria2 RPC Daemon (windows/linux)
    Internet Download Manager (windows)
    KGet (linux)
    Persepolis (windows/linux)
    pyload (windows/linux)
 .
